<!--https://css-snippets.com/simple-horizontal-navigation/-->
<header th:fragment="header" xmlns:th="http://www.springframework.org/schema/security"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="nav">
        <ul>

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/logout">Logout</a>
            </li>

            <li>
                <a href="/myProfile">My Profile</a>
            </li>

            <li>
<!--                <a href="/myProfile/feed">Feed</a>-->
            </li>

            <li>
                <a href="/login">login</a>
            </li>

            <li>
                <a href="/signup">signup</a>
            </li>

        </ul>

    </div>
</header>