<!--https://css-snippets.com/simple-horizontal-navigation/-->
<header th:fragment="loggedOffHeader" xmlns:th="http://www.springframework.org/schema/security"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="nav">
        <ul>

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/login">login</a>
            </li>
            <li>
                <a href="/signup">signup</a>
            </li>
            <li>

        </ul>

    </div>
</header>