<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/headStuff :: headStuff">
    <meta charset="UTF-8">
    <title>Log in to Lab 16 Demo</title>
</head>
<body>
<header th:replace="${principal == null } ? ~{/fragments/loggedOffHeader :: loggedOffHeader} : ~{/fragments/header :: header}">
</header>
<h1>Sign up</h1>
<form action="/signup" method="POST">

    <label for="firstName">Your first name: </label>
    <input name="firstName" id="firstName"/>

    <label for="lastName">Your last name: </label>
    <input name="lastName" id="lastName"/>

    <label for="dateOfBirth">Your date of birth: </label>
    <input name="dateOfBirth" id="dateOfBirth"/>

    <label for="bio">A short bio: </label>
    <input name="bio" id="bio"/>


    <label for="username">Your Desired Username</label>
    <input name="username" id="username" />

    <label for="password">Your Desired Password</label>
    <input name="password" id="password" type="password" />

    <input type="submit" />
</form>

</body>
</html>